* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  width: 100%;
  height: 2400px;
  color: #24292e;
  margin: 0;
}

img {
  max-width: 1920px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #24292e;
}

a:hover {
  cursor: pointer;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto 100px auto;
  padding: 0 4%;
  text-align: center;
}

.sec-title {
  font-size: 1.8rem;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: solid 1px #24292e;
}

.wrapper {
  display: block;
  width: 960px;
  margin: 0 auto;
}

#header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  margin: 0 auto;
  padding: 0 4%;
  margin-top: 20px;
}

#header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
}

#header li {
  font-size: 0.9rem;
  margin-left: 30px;
}

#header li a {
  color: #24292e;
}

#header li a:hover {
  opacity: 0.7;
}

#mainvisual {
  margin-bottom: 30px;
}

#mainvisual img {
  max-width: 100%;
  height: 420px;
  -o-object-fit: cover;
     object-fit: cover;
}

#menu {
  font-size: 1.5rem;
}

#menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 150px;
}

#menu li {
  padding: 0 80px;
  border-left: solid 1px #24292e;
}

#menu li:last-child {
  border-right: solid 1px #24292e;
}

#service {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 80px;
  max-width: 100%;
}

#service h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  font-size: 2rem;
}

#service h1:first-child {
  margin-top: 50px;
}

#service h1:last-child {
  margin-top: 20px;
}

#service p {
  display: block;
  width: 960px;
  margin: 0 auto;
  text-align: center;
  font-size: 0.9rem;
}

.plans {
  text-align: center;
  margin: 0 auto;
}

.plans img {
  width: 40%;
  margin-top: 50px;
}

.plans h2 {
  font-size: 2rem;
  margin: 5px 0;
}

.plans h4 {
  font-size: 1.5rem;
}

.plans h6 {
  font-size: 0.9rem;
  color: #24292e;
}

#contact {
  margin-top: 80px;
}

#contact h1 {
  margin-bottom: 30px;
}

#contact dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}

#contact dt {
  width: 15%;
}

#contact dd {
  width: 80%;
  margin-bottom: 10px;
}

#contact textarea {
  height: 300px;
}

#contact input, #contact textarea {
  width: 100%;
  border: solid 1px #c8c8c8;
  padding: 10px;
}

.button {
  text-align: center;
  width: 200px;
  margin: 0 auto 80px auto;
}

.button input {
  background-color: #24292e;
  color: #fff;
  padding-bottom: 15px 0;
  border: solid 1px #24292e;
}

.button input:hover {
  background: #fff;
  color: #24292e;
}

.footer {
  width: 100%;
  height: 180px;
  background-color: #24292e;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer ul {
  margin: 30px;
}

.footer img {
  margin: 50px;
  line-height: 180px;
}

.footer p {
  margin: 120px 120px 0 0;
  font-size: 0.7rem;
}

@media (max-width: 670px) {
  * {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #header img {
    width: 60%;
  }
  #header ul {
    width: 40%;
  }
}
/*# sourceMappingURL=stylesheet.css.map */